.customSelect {
    background: #fff url(<%= asset_path 'select-triangle.png' %>) right center no-repeat;
    border:1px solid #ccc;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px 2px;
    text-align: left;
    width: 120px;
    padding: 2px 4px;
}
